<div>
  <span>
    <select (change)="onChange($event.target.value)">
      <option>Please Select</option>
      <option *ngFor="let show of showsData" [value]="show.title">{{ show?.title }}</option>
    </select>
  </span>
</div>

<div>
  <div *ngIf="ifShowsData">
    <div *ngFor="let show of showsData">
      <div>
        <a style="cursor: pointer;" (click)="getShowDetails(show?.showId)">{{ show?.title }} </a>
      </div>
    </div>
  </div>
</div>

<div>
  <div *ngIf="ifFilteredShow">
    <div *ngFor="let show of filteredShow">
      <div>
        <a style="cursor: pointer;" (click)="getShowDetails(show?.showId)">{{ show?.title }} </a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="ifShowDetails">
  <div>
    {{ displayDetails() }}
  </div>
</div>